* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* push check */
body {
  background-image: url('https://wallpapercave.com/wp/wp5019587.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  z-index: 10;
}

.top-bar, .top-bar ul {
  background-color: darkolivegreen;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

.flex-crd {
  margin: 10%;
  justify-content: center;
  justify-content: space-evenly;
}

.about-text {
  font-size: 1rem;
  font-family: 'Source Serif Pro', serif;
}

.hd-vert-spc {
  margin: 1px;
  color: black;
}

.vert-space {
  margin: 50px;
}

.footer {
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

p {
  margin-bottom: 0;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .top-bar, .top-bar ul {
    flex-direction: column;
  }
  body {
    flex-direction: column;
  }
  .flex-crd {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 39.9375em) {
  .top-bar, .top-bar ul {
    flex-direction: column;
  }
  body {
    flex-direction: column;
  }
  .flex-crd {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
  }
}