* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://wallpapercave.com/wp/wp5019587.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.top-bar, .top-bar ul {
  background-color: darkolivegreen;
  color: white;
}

h1 {
  font-size: 3rem;
  font-family: 'Source Serif Pro', serif;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

.biggerfont {
  font-size: 20px
}

.searchBox {
  width: 25%;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 380px
}

.searchBox i {
  font-size: 20px;
  color: #777;
  align-items: center;
}

.searchBox input {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
  outline: none;
  margin-left: 37px;
  width: 75%;
  height: 31px;
  align-items: center;
}

#ingredientName {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

.button-group {
  margin-bottom: 0;
}

.button-group.stacked-for-small .button:last-child {
  margin-right: 5px;
}

.button.ingredient {
  border-radius: 30px;
  background-color: #1e87f0;
}

.footer {
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

p {
  margin-bottom: 0;
}

.about-text {
  color: aliceblue;
}