* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://wallpapercave.com/wp/wp5019587.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  z-index: 10;
}

.top-bar, .top-bar ul {
  background-color: darkolivegreen;
  color: white;
}

h1 {
  font-size: 3rem;
  font-family: 'Source Serif Pro', serif;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

.biggerfont {
  font-size: 20px
}

.searchBox {
  width: 75%;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 12%;
}

.searchBox i {
  font-size: 20px;
  color: #777;
  align-items: center;
}

.searchBox input {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
  outline: none;
  margin-left: 37px;
  width: 75%;
  height: 31px;
  align-items: center;
}

#ingredientName {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

.button-group {
  margin-bottom: 0;
}

.button-group.stacked-for-small .button:last-child {
  margin-right: 5px;
}

.button.ingredient {
  border-radius: 30px;
  background-color: #1e87f0;
}

.footer {
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

p {
  margin-bottom: 0;
}

/* --About-page-css-- */

.flex-crd {
  margin: 10%;
  justify-content: center;
  justify-content: space-evenly;
}

.about-text {
  color: rgb(54, 44, 65);
  font-size: 1rem;
  font-family: 'Source Serif Pro', serif;
}

.hd-vert-spc {
  margin: 1px;
  color: rgb(54, 44, 65);
  font-size: 2rem;
  font-family: 'Source Serif Pro', serif;
}

.vert-space {
  margin: 50px;
}

/* --media-query-- */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .top-bar, .top-bar ul {
    flex-direction: column;
  }
  body {
    flex-direction: column;
  }
  h1 {
    flex-direction: column;
    color: #ffffff;
    font-size: 3rem;
  }
  .flex-crd {
    flex-direction: column;
  }
  #fav-slider {
    margin: -133px;
  }
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 39.9375em) {
  .top-bar, .top-bar ul {
    flex-direction: column;
  }
  body {
    flex-direction: row;
  }
  h1 {
    flex-direction: column;
    color: #ffffff;
    font-size: 1.5rem;
  }
  .flex-crd {
    flex-direction: column;
  }
  #fav-slider {
    margin: -133px;
  }
  .footer {
    flex-direction: row;
  }
}